html {
  font-family: "Century Gothic", sans-serif;
}
.nav-main {
  color: white;
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.nav-main a {
  background-color: black;
  color: white;
  display: block;
  padding: 16px;
  float: left;
  text-decoration: none;
  transition: 0.2s ease;
}
.nav-main a:hover {
  background-color: blue;
}
.nav-main a:active {
  background-color: darkblue;
}
